{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>MATH BUSTER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'main.css' %}" />
	</head>
	<style>
		#bg:after{
			background-image: url("{% static 'images/ashhi.jpg' %}") !important;
		}
	</style>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<nav>
							<ul>
								<li><a href="/">Go Home</a></li>
								<li><a href="thebasic">Goto Basic</a></li>
								<li><a href="themoderate">Goto Moderate</a></li>
							</ul>
						</nav>
						<div class="content">
							<div class="inner">
								<h1>advanced</h1>
								<p>We've seen some more <strong><i style="color: #00ccff;">basic</i></strong> and <strong><i style="color: #00ccff;">moderate</i></strong> content. So let's get to know some more advanced topics</p>
								<p>Also, please note that if you feel like you're not comfy with the about to be explained topics, that means you need basics. So, got to basics page to startover and get a hold. </p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#Integration">Integration</a></li>
								<li><a href="#Geometry">Geometry</a></li>
								<li><a href="#Calculus">Calculus</a></li>
                                <li><a href="#Sequenceandseries">Sequence and series</a></li>
                                <li><a href="#PermutationsandCombinations">Permutations and Combinations</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="Integration">
								<h2 class="major">Integration</h2>
								<span class="image main"><img src="images/pic01.jpg" alt="" /></span>
            <p><strong><i style="color:#00ccff;">Integration</i></strong> is the calculation of an integral. Integrals in maths are used to find many useful quantities such as areas, volumes, displacement, etc. When we speak about integrals, it is related to usually definite integrals. The indefinite integrals are used for antiderivatives. Integration is one of the two major calculus in Mathematics, apart from differentiation(which measure the rate of change of any function with respect to its variables). It’s a huge topic which is discussed at higher level classes like in Class 11 and 12. Integration by parts and by the substitution is explained broadly. Here, you will learn the definition of integrals in Maths, formulas of integration along with examples. </p>
            <ul>
               <li>Definite Integral</li>
               <li>Indefinte Integrals</li>
               <li>Basic Integration Formulas</li>
               <li>Integrals For Class 12</li>
               <li>Important Questions Class 12 Maths Chapter 7 Integrals</li>
            </ul> <br>
                
                <p><strong><i style="color:#00ccff;">Integration Definition</i></strong></p>
                <p>The integration denotes the summation of discrete data. The integral is basically calculated to find the functions which will describe the area, displacement, volume, that occurs due to a collection of small data, which cannot be measured singularly. In a broad sense, in calculus, the idea of limit is used where algebra and geometry are implemented. Limits help us in the study of the result of points on a graph such as how they get closer to each other until their distance is almost zero. We know that there are two major types of calculus – <br>
                
                     >Differential Calculus <br>
                     >Integral Calculus </p>
                <p><strong><i style="color:#00ccff;">Maths Integration</i></strong></p>
                <p>In Maths, integration is a method of adding or summing up the parts to find the whole. It is a reverse process of differentiation, where we reduce the functions into parts. Basically, this method is used to find the summation under a very large scale. Calculation of small addition problems is an easy task which we can do manually or by using calculators as well. But for big addition problems, where the limits could reach to even infinity, integration methods are used. Integration and differentiation both are important parts of calculus. The concept level of these topics are very high, hence it is introduced to us at higher secondary classes and then in engineering or higher education. To get a deep knowledge of integrals, read the complete article here.</p>
                
                <p><strong><i style="color:#00ccff;">Integral Calculus</i></strong></p>
                <p>We are talking about Integral Calculus here. According to Mathematician Bernhard Riemann, <br>
                
                “Integral is based on a limiting procedure which approximates the area of a curvilinear region by breaking the region into thin vertical slabs.” Learn more about Integral calculus here. </p>
                
                <p>Let us now try to understand what does that mean: <br>
                
                Take an example of a slope of a line in a graph to see what differential calculus is: <br>
                In a slope of a line, we can find the slope by using the slope formula. But what if we are given to find an area of a curve? In a curve, the slope of the points varies and it is then we need differential calculus to find the slope of a curve.</p>
                
                <p>You must be familiar with finding out the derivative of a function using the rules of the derivative. Wasn’t it interesting? Now we are going the other way round to find the original function using the rules in Integrating. We are going to use the same rule backwards to find out the original function.</p>
                
                <p><strong><i style="color:#00ccff;">Integrals in Maths</i></strong></p>
                <p>We have learned until now the concept of integration. You will come across, two types of integrals in maths: <br>
                
                     >Definite Integral <br>
                     >Indefinite Integral <br>
                <p><strong><i style="color:#00ccff;">Definite Integral</i></strong></p>
                <p>An integral that contains the upper and lower limits then it is a definite integral. On a real line, x is restricted to lie. Riemann Integral is the other name of the Definite Integral.</p>
                
                <p>A definite Integral is represented as: <br>
                
                ∫baf(x)dx </p>
                
                <p>Indefinite Integral</p>
                <p>Indefinite integrals are defined without upper and lower limits. It is represented as: <br>
                
                ∫f(x)dx = F(x) + C <br>
                
                Where C is any constant and the function f(x) is called the integrand. </p>
                
                <p><strong><i style="color:#00ccff;">Integration Formulas</i></strong></p>
                <p>Check below the formulas of integral or integration, which are commonly used in higher-level maths calculations. Using these formulas, you can easily solve any problems related to integration. <br>
                <ul>
             <li>∫ 1 dx = x + C</li> 
             <li>∫ a dx = ax+ C</li> 
             <li>∫ xn dx = ((xn+1)/(n+1))+C ; n≠1</li> 
             <li>∫ sin x dx = – cos x + C</li> 
             <li>∫ cos x dx = sin x + C</li> 
             <li>∫ sec2 dx = tan x + C</li> 
             <li>∫ csc2 dx = -cot x + C</li> 
             <li>∫ sec x (tan x) dx = sec x + C</li> 
             <li>∫ csc x ( cot x) dx = – csc x + C</li> 
             <li>∫ (1/x) dx = ln |x| + C</li> 
             <li>∫ ex dx = ex+ C</li> 
             <li>∫ ax dx = (ax/ln a) + C ; a>0,  a≠1</li> 
                </ul> <br>
                
                <p><strong><i style="color:#00ccff;">Integration Examples</i></strong></p>
                <p>Solve some problems based on integration concept and formulas here. </p>
                
                <p><strong><i style="color:#00ccff;">Example 1</i></strong>: Find the integral of the function: ∫30x2dx</p>
                
                <p><strong><i style="color:#00ccff;">Solution:</i></strong></p>
                
                <p>Given ∫30x2dx <br>
                
                = (x33)30 <br>
                
                =(333)–(033) <br>
                
                = 9 </p>
                
               <p> <strong><i style="color:#00ccff;">Example 2:</i></strong> Find the integral of the function: ∫x2 dx</p>
                
                <p><strong><i style="color:#00ccff;">Solution:</i></strong></p>
                
                <p>Given ∫x2 dx <br>
                
                = (x3/3) + C.</p>
							</article>

						<!-- Work -->
							<article id="Geometry">
								<h2 class="major">Geometry</h2>
								<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
								<p><strong><i style="color:#00ccff;">Geometry</i></strong> is derived from two Latin words, geo + metron meaning earth & measurement. Thus it is concerned with the properties and relations of points, lines, surfaces, solids, and higher dimensional analogs. We study geometry to find the Length, Area, Volume of different Plane and Solid figures which are present around us in this world and to know better about them. Knowledge of coordinate geometry provides many fundamental skills and helps us to improve problem-solving skill, logical skill, analytical reasoning skill and so on. Here, we are going to have a look at the basics of Geometry, its branches, plane geometry as well as solid geometry in detail.</p>
								<p> (i) Algebraic Geometry – is a branch of geometry studying zeros of the multivariate polynomial. It includes linear and polynomial algebraic equation used for solving the sets of zeros. The application of this type includes Cryptography, string theory, etc.
								 
								 <p> (ii) Discrete Geometry – is concerned with the relative position of simple geometric object, such as points, lines, triangles, circles etc. </p>
								 
								 <p>  (iii) Differential Geometry – uses techniques of algebra and calculus for problem-solving. The various problems include general relativity in physics etc.</p>
								 
								 <p> (iv) Euclidean Geometry – The study of plane and solid figures on the basis of axioms and theorems including points, lines, planes, angles, congruence, similarity, solid figures. It has a wide range of applications in Computer Science, Modern Mathematics problem solving, Crystallography etc.</p>
								 
								 <p> (v) Convex Geometry – includes convex shapes in Euclidean space using techniques of real analysis. It has application in optimization and functional analysis in number theory.</p>
								 
								 <p> (vi) Topology – is concerned with properties of space under continuous mapping. Its application includes consideration of compactness, completeness, continuity, filters, function spaces, grills, clusters and bunches, hyperspace topologies, initial and final structures, metric spaces, metrization, nets, proximal continuity, proximity spaces, separation axioms, and uniform spaces.</p>
								 
								 
								 <p><strong><i style="color:#00ccff;">Geometry Formulas</i></strong></p>
								 <p>To calculate the area, perimeter, volume and different measures like length, breadth and height of different geometrical figures, geometry formulas are important. By using the formulas, we can calculate the measures easily. There are loads of formulas to learn in Geometry. Here, you are provided with all the important geometry formulas in the PDF. Download the below-given PDF to learn and solve all the problems related to geometry.</p>
								 <p><strong><i style="color:#00ccff;">Plane Geometry</i></strong></p>
								 <p>Plane Geometry deals with flat shapes which can be drawn on a piece of paper. These include lines, circles & triangles of two dimensions. Plane geometry is also known as a two-dimensional geometry. All the two-dimensional figures have only two measures such as length and breadth. It does not deal with the depth of the shapes. Some examples of plane figures are square, triangle, rectangle, circle, and so on. Here, some of the important terminologies in plane geometry are discussed.</p>
								 
								 <p><strong><i style="color:#00ccff;">Point</i></strong></p>
								 <p>A precise location or place on a plane. Usually represented by a dot. A point is an exact position or location on a plane surface. It is important to understand that a point is not a thing, but a place. It is important to note that a point has no dimension rather it has the only position.</p>
								 <p><strong><i style="color:#00ccff;">Line</i></strong></p>
								 <p>The line is straight (no curves), having no thickness and extends in both directions without end (infinitely). It is important to note that it is the combination of infinite points together to form a line. In geometry, we have a horizontal line and vertical line which has x-axis and y-axis respectively.</p>
								 
								 <p><strong><i style="color:#00ccff;">Line Segment</i></strong> – If a line has a starting and an endpoint then it is called a Line Segment. <br>
								 Ray – If a line has a starting point and has no endpoint is called Ray. <br>
								 Eg. Sun Rays</p>
								 
								 <p><strong><i style="color:#00ccff;">Angles</i></strong></p>
								 <p>In planar geometry, an angle is the figure formed by two rays, called the sides of the angle, sharing a common endpoint, called the vertex of the angle.</p>
								 
								 <p><strong><i style="color:#00ccff;">Types of Angle</i></strong></p>
								 
								 <p>Acute Angle – An Acute angle (or Sharp angle) is an angle smaller than a right angle ie. it can range between 0 – 90 degrees. <br>
								 
								 Obtuse Angle – An Obtuse angle is more than 90 degrees but is less than 180 degrees. <br>
								 
								 Right Angle – An angle of 90 degrees. <br>
								 
								 Straight Angle – An angle of 180 degrees is a straight angle. Such as angle formed by a straight line </p>
								 
								 
								 
								 <p><strong><i style="color:#00ccff;">Polygon</i></strong></p>
								 <p>A plane figure that is bounded by a finite chain of straight line segment closing in a loop to form a closed polygonal chain or circuit. <br>
								 
								 The name ‘poly’ refers to multiple. An n-gon is a polygon with n sides; for example, a triangle is a 3-gon polygon. <br>
								 
								 General Formula for Sum of internal Angles of a polygon – <br>
								 
								 Sum of internal Angles of a polygon = (n−2)×180 </p>
								 
								 <p><strong><i style="color:#00ccff;">Types of Polygon</i></strong></p>
								 <pre>
				 Polygon type				Definition & Property			
				 (i) Triangle –			A 3-sided polygon whose sum of internal angles
											 always sums to 180 degrees.	
				 (ii) Quadrilateral	    A 4-sided polygon with four edges and four vertices.
												 Sum of internal angles is 360 degrees
				 (iii) Pentagon	        A plane figure with five straight sides and five angles	
				 (iv) Hexagon	        A plane figure with six straight sides and six angles	
				 (v) Heptagon			A plane figure with seven sides and seven angles	
				 (vi) Octagon		A plane figure with eight straight sides and eight angles.	
				 (vii) Nonagon		A plane figure with nine straight sides and nine angles.	
				 (viii) Decagon		A plane figure with ten straight sides and ten angles.	
								 </pre>
								 <p><strong><i style="color:#00ccff;">Circle</i></strong></p>
								 <p>A Circle is a simple closed shape. From a certain point called the centre, all points of a circle are of same consistent distance ie. the curve traced out by a point that moves so that its distance from the centre is constant.</p>
								 
								 <p><strong><i style="color:#00ccff;">Understanding Similarity and Congruence</i></strong></p>
								 <p>Similarity – Two figures are said to be similar if they have the same shape or have an equal angle but do not have the same size. <br>
								 
								 Congruence –  Two figures are said to be Congruent if they have the same shape and size. Thus they are totally equal. </p>
								 
								 <p><strong><i style="color:#00ccff;">Solid Geometry</i></strong></p>
								 <p>Solid Geometry deals with 3-dimensional objects like cubes, prisms, cylinders & spheres. It deals with three-dimensions of the figure such as length, breadth and height. But some solid solids do not have faces (e.g. sphere).  It is the study of three dimensions in the Euclidean space. The objects which are around us are obviously a three-dimensional. All the three-dimensional shapes are obtained from the rotation operation of 2D shapes. The important attributes of 3D shapes are faces, edges, and vertices. Let us discuss these terms in detail for different geometric shapes.</p>
								 
								 <p><strong><i style="color:#00ccff;">Edges</i></strong></p>
								<p> An edge is defined as the line segment on the boundary that joins one vertex to the other vertex. It means that it joins one corner point to the other. It forms the skeleton of 3D shapes.  In other words, it can be defined as the faces, that meets in the straight line is called edge. Following are the list of edges for the different solid shapes: <br>
								 <pre>
								 Solid Shapes                              No. of. Edges
								 
								 Triangular Prism			    		9
								 
								 Cube					   			12
								 
								 Rectangular prism			   		12
								 
								 Pentagonal Prism					15
								 
								 Hexagonal Prism					15
								 
								 Triangular Pyramid					6
								 
								 Square Pyramid					8
								 
								 Pentagonal Pyramid				10
								 
								 Hexagonal Pyramid				12
								 
								 </pre>
								 <p><strong><i style="color:#00ccff;">Faces</i></strong></p>
								 <p>We know that all the geometric shapes are made up of flat surface called faces. It is a flat surface enclosed by the edges. For any three-dimensional shapes, the face should be a two-dimensional figure. The list of the number of faces for different solid shapes are given below: <br>
								 <pre>
								 Solid Shapes					No. of. Faces
								 
								 Triangular Prism					5
								 
								 Cube								6
								 
								 Rectangular prism					6
								 
								 Pentagonal Prism					7
								 
								 Hexagonal Prism					8
								 
								 Triangular Pyramid					4
								 
								 Square Pyramid					5
								 
								 Pentagonal Pyramid				6
								 
								 Hexagonal Pyramid				7
								 </pre>
								 <p><strong><i style="color:#00ccff;">Vertices</i></strong></p>
								 <p>A vertex is defined as the point where the edges of the solid figure meet at each other. Or else, it can be said that, the point where the adjacent sides of the polygon meet. The vertex is the corners where the edges meet. The number of vertices for different solid shapes in  geometry is as follows: <br>
								 <pre>
								 Solid Shapes					No. of. Vertices
								 
								 Triangular Prism					6
								 
								 Cube								8
								 
								 Rectangular prism					8
								 
								 Pentagonal Prism					10
								 
								 Hexagonal Prism					12
								 
								 Triangular Pyramid					4
								 
								 Square Pyramid					5
								 
								 Pentagonal Pyramid				6
								 
								 Hexagonal Pyramid				7
								 </pre>
								 <p><strong><i style="color:#00ccff;">>>>Frequently Asked Questions of Geometry</i></strong></p>
								 <p>How geometry is used?</p>
								 <p>Geometry is used in configuring and measurement of different shapes and sizes, such as circles, squares, cubes, triangles, etc.</p>
								 
								 <p>What are all the Geometry applications?</p>
								 <p>Geometry has a wide usage in daily life. Its major applications are in the field of constructions, such as the construction of building, roads, dams, bridges, etc. and also in surveying, mapping, navigation. In software industries, it is used in graphics designing, gaming, animations, etc. In the medical field as well, for CT scanning and MRI’s geometry concepts are used.</p>
								 
								 <p>Why geometry is important?</p>
								 <p>In our lives, geometry is important to understand the various shapes and measure them based on area and volumes.</p>
								 
								 <p>What geometry means?</p>
								 <p>Geometry basically means the measurement of Earth, as it derived from the ancient Greek words, ‘geo’ means Earth and ‘metron’ means measurement. So any object which is present on earth has a shape which is defined by geometry.</p>
													 </article>

						<!-- About -->
							<article id="Calculus">
								<h2 class="major">Calculus</h2>
								<span class="image main"><img src="images/pic03.jpg" alt="" /></span>
								<p>
                
									<strong><i style="color:#00ccff;">Calculus</i></strong> is all about the comparison of quantities which vary in a one-liner way. The calculus concepts are covered in class 12 math subjects and Science & Engineering applications. Calculus is the branch of mathematics that deals with continuous change. In this article, let us discuss the calculus definition, problems and the application of calculus in detail. Also, we are going to discuss what is advanced calculus along with the concepts involved in the basic calculus.</p>
									<p><strong><i style="color:#00ccff;">Calculus Definition</i></strong></p>
									
									<p>Calculus, a branch of Mathematics, developed by Newton and Leibniz, deals with the study of the rate of change. Calculus Math is generally used in Mathematical models to obtain optimal solutions. It helps us to understand the changes between the values which are related by a function. Calculus Math mainly focused on some important topics such as differentiation, integration, limits, functions, and so on.</p>
									
									<p>Calculus Mathematics is broadly classified into two different such as: <br>
									
										.Differential Calculus <br>
										.Integral Calculus </p>
								   <p> Both the differential and integral calculus deals with the impact on the function of a slight change in the independent variable as it leads to zero. Both differential and integral calculus serves as a foundation for the higher branch of Mathematics known as “Analysis”. Calculus Mathematics plays a vital role in modern Physics as well as in Science and technology.</p>
									
									<p><strong><i style="color:#00ccff;">Basic Calculus</i></strong></p>
									<p>Basic Calculus is the study of differentiation and integration. Both concepts are based on the idea of limits and functions. Some concepts like continuity, exponents are the foundation of the advanced calculus. Basic calculus explains about the two different types of calculus called “Differential Calculus” and “Integral Calculus”. Differential Calculus helps to find the rate of change of a quantity whereas integral calculus helps to find the quantity when the rate of change is known.</p>
									
									<p><strong><i style="color:#00ccff;">Differential Calculus Basics</i></strong></p>
									<p>Differential Calculus is concerned with the problems of finding the rate of change of a function with respect to the other variables. To get the optimal solution, derivatives are used to find the maxima and minima values of a function. Differential calculus arises from the study of the limit of a quotient. It deals with variables such as x and y, functions f(x), and the corresponding changes in the variables x and y. The symbol dy and dx are called differentials. The process of finding the derivatives is called differentiation. The derivative of a function is represented by dy/dx or f'(x). It means that the function is the derivative of y with respect to the variable x. Let us discuss some of the important topics covered in the basic differential calculus.</p>
									
									<p><strong><i style="color:#00ccff;">Limits</i></strong></p>
									
									<p>The degree of closeness to any value or the approaching term. A limit is normally expressed using the limit formula as- <br>
									
									limx→cf(x)=A <br>
									It is read as “the limit of f of x as x approaches c equals A”. </p>
									
									<p><strong><i style="color:#00ccff;">Derivatives</i></strong></p>
									
									<p>Instantaneous rate of change of a quantity with respect to the other. The derivative of a function is represented as: <br>
									
									limx→hf(x+h)−f(x)h=A </p>
									
									<p><strong><i style="color:#00ccff;">Continuity</i></strong></p>
									
									<p>A function f(x) is said to be continuous at a particular point x = a, if the following three conditions are satisfied – <br>
									
									f(a) is defined <br>
									limx→af(x) exists <br>
									limx→a−f(x)=limx→a+f(x)=f(a) </p>
									<p>Continuity and Differentiability</p>
									
									<p>A Function is always continuous if it is differentiable at any point, whereas the vice-versa condition is not always true.</p>
									
									<p><strong><i style="color:#00ccff;">Quotient Rule</i></strong></p>
									
									<p>The Quotient rule is a method for determining the derivative (differentiation) of a function which is in fractional form.</p>
									
									<p><strong><i style="color:#00ccff;">Chain Rule</i></strong></p>
									
									<p>The rule applied for finding the derivative of the composition of a function is basically known as the chain rule.</p>
									
									<p><strong><i style="color:#00ccff;">Integral Calculus Basics</i></strong></p>
									<p>Study about integrals and their properties. It is mostly useful for the following two purposes: <br>
									
										 .To calculate f from f’(i.e from its derivative). If a function f is differentiable in the interval of consideration, then f’ is defined in that interval. <br>
										 .To calculate the area under a curve. <br>
									
									<p><strong><i style="color:#00ccff;">Integration</i></strong></p>
									
									<p>Integration is the reciprocal of differentiation. As differentiation can be understood as dividing a part into many small parts, integration can be said as a collection of small parts in order to form a whole. It is generally used for calculating area.</p>
									
									<p><strong><i style="color:#00ccff;">Definite Integral</i></strong></p>
									
									<p>A definite integral has a specific boundary within which function needs to be calculated. The lower limit and upper limit of the independent variable of a function is specified, its integration is described using definite integrals. A definite integral is denoted as: <br>
									
									∫ba f(x).dx = F(x)</p>
									<p>Indefinite Integral</p>
									
									<p>An indefinite integral does not have a specific boundary, i.e. no upper and lower limit is defined. Thus the integration value is always accompanied by a constant value (C). It is denoted as: <br>
									
									∫ f(x).dx = F(x) + C</p>
									<p>Advanced Calculus</p>
									<p>Advanced Calculus includes some topics such as infinite series, power series, and so on which are all just the application of the principles of some basic calculus topics such as differentiation, derivatives, rate of change and o on. The important areas which are necessary for advanced calculus are vector spaces, matrices, linear transformation. Advanced Calculus helps us to gain knowledge on a few important concepts such as <br>
									<ul>
									 <li>Quadratic forms</li>
									 <li>Generalized Stokes theorem</li>
									 <li>Vector fields as derivatives</li>
									 <li>Integration of forms</li>
									 <li>Multilinear algebra</li>
									 <li>Continuous differentiability</li>
									 <li>Tangent space and normal space via gradients</li>
									 <li>Dual space and dual basis</li>
									 <li>Critical point analysis for multivariate functions, etc.</li>
									</ul> <br>
									
									<p><strong><i style="color:#00ccff;">Applications of Calculus</i></strong></p>
									<p>Calculus is a Mathematical model, that helps us to analyse a system to find an optimal solution o predict the future. In real life, concepts of calculus play a major role either it is related to solving area of complicated shapes, safety of vehicles, to evaluate survey data for business planning, credit cards payment records, or to find how the changing conditions of a system affect us, etc. Calculus is a language of physicians, economists, biologists, architects, medical experts, statisticians and it is often used by them. For example, Architects and engineers use concepts of calculus to determine the size and shape of the curves to design bridges, roads and tunnels etc. Using Calculus, some of the concepts are beautifully modelled such as birth and death rates, radioactive decay, reaction rates, heat and light, motion, electricity, etc.</p>
									
									<p><strong><i style="color:#00ccff;">Calculus Problems</i></strong></p>
									<p>Go through the below calculus problems to understand the process of differentiation and integration.</p>
									
									<p><strong><i style="color:#00ccff;">Problem 1:</i></strong> Let f(y) = ey and g(y) = 10y. Use the chain rule to calculate h′(y) where h(y) = f(g(y)).</p>
									
									<p><strong><i style="color:#00ccff;">Solution:</i></strong> </p>
									<p>Given,
									
									f(y) = ey and 
									
									g(y) = 10y <br>
									
									First derivative above functions are
									
									f'(y) = ey and
									
									g'(y) = 10 <br>
									
									To find: h′(y)
									
									Now, h(y) = f(g(y))
									
									h'(y) = f'(g(y))g'(y)
									
									h'(y) = f'(10y)10 <br>
									
									By substituting the values.
									
									h'(y) = e10y x 10
									
									or h'(y) = 10 e10y</p>
									
									<p><strong><i style="color:#00ccff;">Problem 2:</i></strong> Integrate sin 3x + 2x with respect to x.</p>
									
									<p><strong><i style="color:#00ccff;">Solution:</i></strong> </p>
									<p>Given instructions can be written as: <br>
									
									∫ sin 3x + 2x dx
									
									Use the sum rule, which implies
									
									∫  sin 3x dx+ ∫ 2x dx ……… Equation 1
									
									Solve ∫  sin 3x dx first. <br>
									
									use substitution method,
									
									let 3x = u => 3 dx = du (after derivation)
									
									or dx = 1/3 du <br>
									
									=> ∫  sin 3x dx turned as∫ sin u  X 1/3 du
									
									or 1/3 ∫  sin u du <br>
									
									which is 1/3 (-cos u) + C, where C= constant of integration <br>
									
									Substituting values again, we get <br>
									
									∫  sin 3x dx= -cos(3x)/3 + C ……… Equation 2 <br>
									
									Solve∫ 2x dx <br>
									
									∫ 2x dx = 2∫  x dx = 2 * x2/2 + C = x2 + C ……. Equation 3 <br>
									
									Equation (1) => ∫  sin 3x dx+ ∫ 2x dx <br>
									
									= -cos(3x)/3 + x2 + C</p>
												
												</article>

						<!-- Contact -->
							<article id="Sequenceandseries">
								<h2 class="major">Sequence and series</h2>
								<p><strong><i style="color:#00ccff;">Sequence and series</i></strong> are one of the basic topics in Arithmetic. An itemized collection of elements in which repetitions of any sort is allowed is known as a sequence, whereas series is the sum of all elements. An arithmetic progression is one of the common examples of sequence and series.</p>

                <p>In short, A sequence is a list of items/objects which have been arranged in a sequential way. <br>
                A series can be highly generalized as the sum of all the terms in a sequence. However, there has to be a definite relationship between all the terms of the sequence. <br>
                The fundamentals could be better understood by solving problems based on the formulas. They are very similar to sets but the primary difference is that in a sequence, individual terms can occur repeatedly in various positions. The length of a sequence is equal to the number of terms and it can be either finite or infinite.  This concept is explained in detail manner in Class 11 Maths. With the help of definition, formulas and examples we are going to discuss here the concepts of sequence as well series.</p>
                
                <p><strong><i style="color:#00ccff;">DEFINITION</i></strong></p>
                
                <p>A sequence is an arrangement of any objects or a set of numbers in a particular order followed by some rule. If a1, a2, a3, a4,……… etc. denote the terms of a sequence, then 1,2,3,4,…..denotes the position of the term.</p>
                
                <p>A sequence can be defined based upon the number of terms i.e. either finite sequence or infinite sequence.</p>
                
                <p>If a1, a2, a3, a4, ……. is a sequence, then the corresponding series is given by <br>
                
                SN = a1+a2+a3 + .. + aN <br>
                
                Note:  The series is finite or infinite depending if the sequence is finite or infinite. </p>
                
                <p><strong><i style="color:#00ccff;">TYPES OF SEQUENCE AND SERIES</i></strong></p>
                
                
                <p>Some of the most common examples of sequences are: <br>
                
                Arithmetic Sequences <br>
                Geometric Sequences <br>
                Harmonic Sequences <br>
                Fibonacci Numbers <br>
                Arithmetic Sequences <br>
                A sequence in which every term is created by adding or subtracting a definite number to the preceding number is an arithmetic sequence.</p>
                
                <p><strong><i style="color:#00ccff;">Geometric Sequences</i></strong></p>
                <p>A sequence in which every term is obtained by multiplying or dividing a definite number with the preceding number is known as a geometric sequence.</p>
                
                <p><strong><i style="color:#00ccff;">Harmonic Sequences</i></strong></p>
                <p>A series of numbers is said to be in harmonic sequence if the reciprocals of all the elements of the sequence form an arithmetic sequence.</p>
                
                <p><strong><i style="color:#00ccff;">Fibonacci Numbers</i></strong></p>
                <p>Fibonacci numbers form an interesting sequence of numbers in which each element is obtained by adding two preceding elements and the sequence starts with 0 and 1. Sequence is defined as, F0 = 0 and F1 = 1 and Fn = Fn-1 + Fn-2</p>
                
                
                <p><strong><i style="color:#00ccff;">SEQUENCE AND SERIES EXAMPLES</i></strong></p>
                
                
                <p><strong><i style="color:#00ccff;">Question 1:</i></strong> If 4,7,10,13,16,19,22……is a sequence, Find: <br>
                
                Common difference <br>
                nth term <br>
                21st term <br>
                <p><strong><i style="color:#00ccff;">Solution:</i></strong></p> 
                <p>Given sequence is, 4,7,10,13,16,19,22…… <br>
                
                a) The common difference = 7 – 4 = 3 <br>
                
                b) The nth term of the arithmetic sequence is denoted by the term Tn and is given by Tn = a + (n-1)d, where “a” is the first term and d, is the
                common difference. <br>
                Tn = 4 + (n – 1)3 = 4 + 3n – 3 = 3n + 1 <br>
                c) 21st term as:  T21 = 4 + (21-1)3 = 4+60 = 64. </p>
                
                <p><strong><i style="color:#00ccff;">Question 2:</i></strong> Consider the sequence 1,4,16,64,256,1024….. Find the common ratio and 9th term.</p>
                
                <p><strong><i style="color:#00ccff;">Solution:</i></strong></p> 
                <p>The common ratio (r)  = 4/1 = 4 
                
                The preceding term is multiplied by 4 to obtain the next term. <br>
                
                The nth term of the geometric sequence is denoted by the term Tn and is given by Tn = ar(n-1)
                where a is the first term and r is the common ratio. <br>
                
                Here a = 1, r = 4 and n = 9
                
                So, 9th term is can be calculated as T9 = 1* (4)(9-1)= 48 = 65536.</p>
							</article>
							<article id="PermutationsandCombinations">
								<h2 class="major">Permutation and Combination</h2>
								<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
								<p>Counting is the foundation stone of Mathematics and is one of the most basic things that we learn. When dealing with larger data, making use of <strong><i style="color:#00ccff;">permutation and combination</i></strong> makes it convenient for us. In this chapter, we will learn about the permutation and combination formula and some fundamental principles of counting. Let’s start.</p>

                <p><strong><i style="color:#00ccff;">Combinations</i></strong></p>
                <p>A combination is simply a manner of selecting some objects from a given set of objects in such a way that the order of their selection doesn’t matter. It is also assumed that one is not selecting a single item more than once i.e. repetitions are not allowed. Formally we may put it down as:
                
                           (n, r) or  nCr <br>
                
                The formula for this notation is: <br>
                
                nCr = n!/r!(n−r)!
                where n! is the factorial of the number n, given as n! = 1.2.3….. … (n-2).(n-1).n <br>
                
                However, this is only valid when n>r, for physical reasons. Suppose that n is less than r. The term above must then represent the number of ways of selecting two objects from a set of one (i.e. n=1 and r=2, let’s say). This is not physically possible! Therefore, all the combination terms with n is less than r are given as nCr = 0.</p>
                
                <p><strong><i style="color:#00ccff;">Permutation</i></strong></p>
                <p>A permutation is a collection or a combination of objects from a set where the order or the arrangement of the chosen objects does matter. In other words, a permutation is an arrangement of objects in a definite order. Since we have already studied combinations, we can also interpret permutations as ‘ordered combinations’.</p>
                <p>Types of Permutation</p>
                <p>Let’s say we have a set of ‘n’ distinct items, out of which we must choose ‘r’ items. We can choose the required items in the following two ways: <br>
                
                Selection when the repetition of items is allowed <br>
                Selection when the repetition of items is not allowed <br>
                Permutation with Repetition <br>
                When the repetition of items is allowed, at every step of selection from the set of ‘n’ items, we have all the ‘n’ choices available to us since we can make a choice multiple times. So, for choosing ‘r’ items, we have n choices available to us ‘r’ times. Let us call the event of choosing an item as E: <br>
                
                n(E) = n (the number of ways in which E can take place) <br>
                
                Since this event is taking place ‘r’ times and the act of choosing an item from the available set is always independent of our other choices, we may invoke the Product Rule of Counting here. Using the fundamental principle then, we get,
                
                n(E taking place ‘r’ times) = nr <br>
                
                This is the permutation formula for calculating the number of permutations possible for the choice of ‘r’ items from a set of ‘n’ distinct items when repetition is allowed.</p>
                
                <p><strong><i style="color:#00ccff;">Permutation without Repetition</i></strong></p>
                <p>In this case, when the repetition of objects is not allowed, we must be careful, not to choose a specific object more than once. Hence our choices after each event get reduced by one. For example, when we begin the selection, for the first object, we have all the ‘n’ choices available to us.</p>
                
                <p>In the next event, however, we have ‘(n-1)’ objects available for choice, since we must not include the object that we have already chosen in the first step. Similarly, for the third step, we have ‘(n-2)’ objects available to us. Thus, from the Product Rule of Counting, we can get,
                
                n(E) = n × (n – 1) × (n – 1) … (n – (r – 1))= n!(n−r!= nPr (notation for the number of permutations of r objects out of a set of n distinct objects)</p>
                
                <p><strong><i style="color:#00ccff;">A Specific Case</i></strong></p>
                <p>n! gives the number of permutations of ‘n’ objects from a set of ‘n’ distinct objects. For example, the number of ways in which you can jumble the alphabets of the word ‘flower’ is 6! where the number of alphabets in the word is 6.</p>
                
                <p>What if our reservoir set of ‘n’ objects has some repeated elements? We can derive the formula in a similar manner to our derivation of the general formula, but with some important restrictions. You could try work <br>
                
                 But for the time being, let us just state and understand it. The number of permutations of ‘n’ objects where p1 objects are of one kind, p2 objects are of one other kind… till pk, is: <br>
                
                       n!p1!.p2!…pk!  where clearly, p1 + p2 +p3 …..+ pk = n. <br>
                
                <strong><i style="color:#00ccff;">Example:</i></strong> The number of ways in which you can jumble the alphabets of the word ‘balloon’ is given by
                
                                     7!1!.1!2!.2!.1! <br>
                
                since the number count of different alphabets is given as: <br>
                n(occurrence of alphabet ‘b’)= 1 <br>
                n(occurrence of alphabet ‘a’)= 1 <br>
                Also, n(occurrence of alphabet ‘l’)= 2 <br>
                n(occurrence of alphabet ‘o’)= 2 <br>
                n(occurrence of alphabet ‘n’)= 1 </p>
                
                <p><strong><i style="color:#00ccff;">Q:</i></strong> Find the number of six digit odd numbers that are greater than 60000 and can be formed with the digits 5,6,7,8,9,0 when repetition is not allowed.</p>
                <p><strong><i style="color:#00ccff;">Solution:</i></strong></p>
                <p>5,6,7,8,9,0 <br>
                Numbers greater than 60000 <br>
                Case: 1  First position is 6 Other 4 places by (5,7,9)
                3×4×3×2
                =72 <br>
                Case: 2  First position is 7 Other 4 places by (5,9)
                2×4×3×2
                =48 <br>
                Case: 3  First position is 8 Other 4 places by (5,7,9)
                3×4×3×2
                =72 <br>
                Case: 4  First position is 9 Other 4 places by (5,7,9)
                2×4×3×2
                =48 <br>
                Total possible numbers =72+48+72+48=240 </p>
                
                <p><strong><i style="color:#00ccff;">Q:</i></strong>Five - digit numbers divisible by 3 are formed using 0, 1, 2, 3, 4, 5 without repetition. The total number of such numbers are?</p>
                <p><strong><i style="color:#00ccff;">Solution:</i></strong></p>
                <p>Numbers using 1,2,3,4,5(1+2+3+4+5=15) <br>
                ⇒  The number of choices we have  =5!=120 <br>
                Numbers using 0,1,2,4,5(0+1+2+4+5=12) <br>
                ⇒  The number of choices we have =5!−4! 
                                                         =120−24 
                                                         =96 <br>
                There are 4! numbers beginning with 0 <br>
                ∴  Total number of numbers =120+96=216 </p>
                
                <p><strong><i style="color:#00ccff;">Q:</i></strong>Find the number of all possible matrices of order 3×3 with each entry 0 or 1?</p>
                <p><strong><i style="color:#00ccff;">Solution:</i></strong></p>
                
                <p>There are 9 elements in 3×3 matrix and one element 
                can be filled in two ways either 0 or 1. <br>
                
                Total possible matrices
                 =512.</p>							
					</article>

					</div>
					<footer id="footer">
						<p class="copyright">&copy; Design: Team MB.</p>
					</footer>

			</div>


		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="{% static 'main.js' %}"></script>

	</body>
</html>
