{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>MATH BUSTER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'main.css' %}" />
	</head>
	<style>
		#bg:after{
			background-image: url("{% static 'images/bg.jpg' %}") !important;
		}
	</style>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<nav>
							<ul>
								<li><a href="/">Go Home</a></li>
								<li><a href="themoderate">Goto Moderate</a></li>
								<li><a href="theadvanced">Goto Advanced</a></li>
							</ul>
						</nav>
						<div class="content">
							<div class="inner">
								<h1>Basic</h1>
								<p>Let's first talk about the <strong><i style="color: #00ccff;">Basics</i></strong> which are the building blocks of the math. We will talk about ground level math and deal with things like additions, multiplications, subtractions, divisions among other things.</p>
								<p>Following this there will be a compact explanation and an example regarding the respective topic. So brace yourselves to learn what the whole math is built on top of.</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#additions">additions</a></li>
								<li><a href="#subtractions">subtractions</a></li>
								<li><a href="#multiplications">multiplications</a></li>
                                <li><a href="#divisions">divisions</a></li>
                                <li><a href="#algebra">algebra</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="additions">
								<h2 class="major">Addition</h2>
								<span class="image main"><img src="images/pic01.jpg" alt="" /></span>
								<p> Addition is a way to put things together. When you add two amounts, you're counting them together, as one larger amount. Addition happens all the time in real life.</p>
								<p>if you have 4 rabbits and add 4 more, you'll have 8 rabbits in total. You could write it like this: <strong><i style="color:#00ccff;">4 + 4 = 8</i></strong></p>
								<p>4 + 4 = 8 is a mathematical equation. You could read it like this: Four plus four equals eight. A mathematical equation is basically a math sentence. It uses numbers and symbols instead of words. When we write out equations with addition, we use two symbols: + and =.</p>
								<p>The plus sign <strong><i style="color:#00ccff;">(+)</i></strong> means two things are being added together. This is why we put it between the rabbits—we had 4 rabbits and added 4 more.</p>
								 <p>The other symbol in our equation is the equals sign (=). When you see the equals sign in an equation, it means two are more things are equal, or equivalent. Things that are equivalent don't always look or seem exactly alike, but they mean the same thing.</p>
								 <p>In math, the equals sign shows that two numbers or expressions mean the same thing, even though they might look different. Remember our rabbits? Because there were 8 rabbits total, we wrote 8 to the right of the equals sign. See how each side means 8? There are 8 rabbits on the left, and the number 8 on the right. Both sides are equal.</p>
								 <p> we looked at some mathematical expressions. Expressions are useful, since they can help you keep track of the amounts you're adding.
									 Any addition problem can be turned into a written expression. For instance, say that you planned to have three friends come over for dinner. At the last minute, you invite two more. To get the total number of friends who are coming to your house, you might write an expression like this:               
									 <strong><i style="color:#00ccff;">3 + 2</i></strong></p>               
									<p> The expression is just another way of describing the situation: three friends plus two more are coming over for dinner.</p>
									<p><strong><i style="color:#00ccff;">carry</i></strong></p>
									<p>Some problems need an extra step. For example, let's look at the following problem: 45+59 </p>
									<p>Our first step is to add the digits on the right— 5 and 9. However, you might notice there isn't room to write the sum, 14. When the sum of two digits in a math problem is greater than 9, the normal way of adding stacked numbers won't work. You'll have to use a technique called carrying.</p>
									<p>so, first off add from the right most stack and if the sum is more than 9 throw everything that is on the left side of the units digit to the stack located on the left side of the present stack. This is called carrying</p>
									<p>As you carry, be careful to keep track of the various numbers. If you're writing problems down, be sure to write the carried digits in small print above the column of digits to the left.</p>
									<p><strong><i style="color:#00ccff;">Practice!</i></strong></p>
									<p>
									 Practice adding these problems. You'll have to use carrying to solve some of the problems. There are 4 sets of problems with 3 problems each. <br>                
									 Set 1
									 (25 + 11 =,
									 64 + 32 =,
									 12 + 16 =) <br>
									 Set 2
									 (19 + 7 =,
									 33 + 29 =,
									 65 + 17 =) <br>
									 Set 3
									 (66 + 54 =,
									 99 + 4 =,
									 83 + 74 =) <br>
									 Set 4
									 (323 + 601 =,
									 909 + 19 =,
									 725 + 75 =)</p>
							</article>

						<!-- Work -->
							<article id="subtractions">
								<h2 class="major">Subtraction</h2>
								<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
								<p> Subtraction is taking things away. When you have an amount and you subtract from it, the amount becomes smaller. Subtraction happens a lot in real life.</p>
								<p>
								 For instance, imagine we have 8 eggs...
								 As we saw, if you have 8 eggs and subtract 3 of them, you'll have 5 eggs left. In other words:
								 8 - 3 = 5 
								 <strong><i style="color:#00ccff;">8 - 3 = 5</i></strong> is a mathematical equation. You could read it like this: five minus three equals two. As we learned in Introduction to Addition, a mathematical equation is basically a math sentence that uses numbers and symbols. When we write a subtraction equation, we use two symbols: - and =.</p>
								<p> The minus sign <strong><i style="color:#00ccff;">(-)</i></strong> means one thing is being subtracted from another. This is why we put it after the first group of eggs — we had 8 eggs and subtracted 5 of them.</p>
								<p>The other symbol in our equation is the equals sign (=). As we learned in Introduction to Addition, the equals sign means two numbers or expressions are equivalent, or equal. Even though they might look different, they mean the same thing.
								 In our eggs example, since 3 eggs were left, we wrote 3 to the right of the equals sign. That shows each side means 3. 3 eggs on the left, and the number 3 on the right. Both sides are equal.</p>
								 <p>As you become more comfortable with reading and writing mathematical expressions, you might notice they are useful for seeing the amount you start with and what you're subtracting.
									 Any subtraction problem can be turned into a written expression. For instance, let's say your tomato plant has seven tomatoes and you pick four. To figure out the number of tomatoes that are left on the plant, you might write an expression like this:                
									 <strong><i style="color:#00ccff;">7 - 4</i></strong>               
									 The expression is just another way of describing the situation: seven tomatoes minus four that were picked.</p>
								 <p>
									 <strong><i style="color:#00ccff;">Practice!</i></strong> </p>
									<p> Practice these subtraction problems. There are 3 sets of problems. Each set has 5 problems. <br>
									 
									 Set 1
									 (3 - 2 =,
									 4 - 0 =,
									 5 - 1 =,
									 2 - 2 =,
									 4 - 3 =) <br>
									 Set 2
									 (6 - 4 =,
									 7 - 6 =,
									 9 - 3 =,
									 4 - 4 =,
									 9 - 1 =) <br>
									 Set 3
									 (10 - 5 =,
									 8 - 4 =,
									 7 - 3 =,
									 9 - 6 =,
									 6 - 1 =)
									 </p>
									 <p>when people solve a subtraction problem with large numbers, they set up the problem in a way that makes it easy to solve one step at a time. Let's see how this works with another problem: 79 - 13.</p>
									 <p>firstly stack them up like we did for additions, that stacked subtraction problems are always solved from right to left. The expressions below are solved the same way. First, the bottom right digit is subtracted from the top right digit. Then, the bottom left digit is subtracted from the top left digit.</p>
									 <p>Stacked subtraction can also be used for finding the difference of larger numbers. No matter how many digits there are, you subtract the same way every time — from right to left.</p>
									 <p><strong><i style="color:#00ccff;">Try This!</i></strong> </p>
										<p> These subtraction problems have larger numbers. Solve them. <br>
										 
										 225 - 100 = <br>
										 199 - 21 = <br>
										 634 - 623 = <br>
										 </p>
									 <p><strong><i style="color:#00ccff;">Borrowing</i></strong> </p>
										 <p>Sometimes when you subtract, you will notice that the top digit is smaller than the bottom. For example, take a look at this problem:
										 
										 75 - 29
										 Normally, we'd start on the right with 5 - 9. However, since 9 is bigger than 5, we can't subtract normally. Instead, we have to use a technique called borrowing.
										 
										 Let's see how it works.</p>
									 <p>First, we'll make sure the expression is set up correctly. The larger number is stacked on top of the smaller number. As with all stacked subtraction problems, begin with the digits farthest to the right. Here, they are 5 and 9. 5 is smaller than 9, so we'll need to borrow to make 5 larger.</p>
									 <p>We'll borrow from the digit to the left of 5. Here, it's 7. We'll take 1 from it....7 - 1 = 6. To help us remember that we subtracted 1, we'll cross out the 7 and write 6 above it. Then, we'll place the 1 we took next to the 5...5 becomes 15. 15 is larger than 9, which means we can subtract. We'll solve for 15 - 9.</p>
									 <p>15 - 9 = 6. We'll write 6 beneath the line. Next, find the difference of the digits to the left: 6 - 2.6 - 2 = 4. We'll write 4 beneath the line. Our answer is 46. 75 - 29 = 46.</p>
									 <p>As you borrow, always cross out the digit you borrow from and write the new value above it. Remember to always place the 1 next to the smaller digit.</p>
									 <p>Sometimes the top number might have two or more digits that are smaller than the digits beneath them. In that case, you'll need to borrow more than once. It will always work the same way. You'll always subtract 1 from the digit to the left and place 1 next to the smaller digit.</p>
									 <p><strong><i style="color:#00ccff;">Practice!</i></strong> </p>
										<p> Practice subtracting these problems. You'll have to use borrowing to solve some of the problems. There are 4 sets of problems with 3 problems each. <br>
										 
										 Set 1
										 (45 - 34 =,
										 22 - 10 =,
										 98 - 63 =) <br>
										 Set 2
										 (15 - 9 =,
										 92 - 68 =,
										 83 - 57 =) <br>
										 Set 3
										 (50 - 25 =,
										 62 - 12 =,
										 98 - 37 =) <br>
										 Set 4
										 (220 - 119 =,
										 115 - 43 =,
										 609 - 210 =)
										 </p>							
									</article>

						<!-- About -->
							<article id="multiplications">
								<h2 class="major">multiplication</h2>
								<span class="image main"><img src="images/pic03.jpg" alt="" /></span>
								<p> When you multiply, you're basically adding a certain number more than once. For instance, if you eat 4 pieces of candy, then you eat another 4, then 4 more, you can say that you multiplied the amount of candy you ate.</p>
								<p>a multiplication expression is written like this:
					
									<strong><i style="color:#00ccff;">2 x 6</i></strong> 
									
									You can read that expression as two times six. The multiplication symbol (x) can also be called the times symbol. Remember, you always put it between the numbers you want to multiply.</p>
								 <p>Many real-life situations can be expressed with multiplication. For instance, imagine that you want to make three cakes. The recipe says that each cake will need two eggs. In other words, you need 3 x 2 eggs.</p>
							<p>You can use counting and adding to solve some small, simple multiplication problems. For example, the last time, we were trying to figure out how many eggs we'd need to make three cakes. Each cake needed two eggs, so we wrote the problem like this:
					
								<strong><i style="color:#00ccff;">3 x 2</i></strong>
								
								As you know by now, that expression means three times two, or 3 cakes with 2 eggs each. It's a simple problem. To solve it, you can either count the eggs or add them:  <strong><i style="color:#00ccff;">2 + 2 + 2</i></strong>. Either way, the answer is 6. We know that 3 x 2 = 6.</p>
							<p>While this works for small problems, counting large numbers can take a long time— and it's pretty boring too. For this reason, most people memorize common multiplication problems so that they can solve them quickly. If this sounds hard, don't worry. The more you practice, the easier it will be to remember the answers to problems. </p>   
							<p>Until then, you can solve multiplication problems by using a multiplication table. It's also called a times table. A times table is a chart with the answers to all of the multiplication problems that use the numbers 1 through 12. It's simple to use.</p>
							<div><img src="images/timestable.png" alt="timestable"></div> <br>
							<p>You might have noticed there is no 0 row in the times table. That's because zero times anything is just zero. For example, 5 x 0 = 0 and 0 x 100 = 0.</p>
							<p>
								<strong><i style="color:#00ccff;">Practice!</i></strong> </p>
							   <p> Practice multiplication with these problems. If you want, you can use the times table. There are 3 sets of problems. Each set has 5 problems. <br>
								
								Set 1
								
								(3 x 2 =,
								4 x 1 =,
								2 x 5 =,
								4 x 3 =,
								2 x 7 =) <br>
								Set 2
								
								(7 x 6 =,
								4 x 6 =,
								8 x 7 =,
								9 x 10 =,
								12 x 5 =) <br>
					
								Set 3
								
								(4 x 9 =,
								8 x 1 =,
								6 x 5 =,
								10 x 8 =,
								12 x 12 =)</p>
							<p>When you multiply a number or amount, you're increasing it many times. In Introduction to Multiplication, you learned that multiplication can be a way to understand things that happen in real life. For instance, imagine that a store sells boxes of pears. The small boxes contain five pears each. You buy two. You could write the situation like this, and use the times table to solve it</p>
								<p>Now, imagine that you decide to buy two larger boxes containing 14 pears each. That situation would look like this:
					
									<strong><i style="color:#00ccff;">14 x 2</i></strong>
									This problem is harder to solve. Counting the pears would take a while. Plus, there's no 14 on the times table. Fortunately, there's a way to write the problem so that you can break it into smaller pieces. It's called stacking. It means that we'll write the numbers on top of one another instead of side by side.</p>
									<p>At first glance, stacked multiplication problems might look pretty complicated. Don't worry! If you can solve the problems in Introduction to Multiplication, you can learn to solve these problems too. To multiply large numbers, you'll use the same basic skills you use to multiply small ones. You can even use the same tools, like times tables.</p>
									<p><strong><i style="color:#00ccff;">Try this! </i></strong></p>
									   <p> Stack and solve these multiplication problems. <br>
										
										31 x 3 = <br>
										24 x 2 = <br>
										40 x 8 =</p>
									<p><strong><i style="color:#00ccff;">Using carrying</i></strong> </p>
									   <p> the last time, you practiced multiplying vertically stacked numbers. Some problems need an extra step. Let's look at the following problem:
										29 x 5
										If you try to multiply 9 x 5, you might notice that there is no room to write the product, 45. When the product of two numbers is greater than 9, you'll need to use a technique called carrying. If you know how to add large numbers, you might remember using carrying in addition too.</p>
										<p><strong><i style="color:#00ccff;">Try This!</i></strong> </p>
										   <p> Stack and solve these multiplication problems. <br>
											
											25 x 9 = <br>
											98 x 2 = <br>
											103 x 5 =</p>
											<p>the past few times, you've practiced multiplying large numbers with small ones. What happens when you have to multiply two large numbers?
					
												For example, imagine that your cell phone bill is $43 a month. There are 12 months in a year, so to find out how much you pay for your phone every year, you could solve for 43 x 12. You'd write the expression like this:
												<strong><i style="color:#00ccff;">43 x 12.</i></strong>
											</p>
											<p>This problem might look hard at first, but don't worry. If you can multiply small numbers, you can multiply large ones too. All you have to do is divide this large problem into a few smaller ones. As always, you can use your times table to help.</p>
											<p><strong><i style="color:#00ccff;">Try this!</i></strong> </p>
											<p> Stack and multiply these two-digit numbers. <br>
												
												33 x 21 = <br>
												52 x 17 = <br>
												81 x 34 =</p>
												<p>Multiplying large numbers always works the same way, no matter how many digits the numbers have. When you're multiplying, be careful about writing the numbers in the correct places. Let's look at a problem with two 3-digit numbers to see how this works with even larger numbers.
													601 x 243 = 146,043.
												</p>
												<p>What a huge number! If that problem seemed complicated, don't worry. You'll rarely need to multiply such large numbers. When you do, you can always use a calculator. Still, it's good to know how. If you can multiply these problems, you can multiply anything.</p>
												<p>
													<strong><i style="color:#00ccff;">Practice!</i></strong> </p>
													<p> Practice multiplying large numbers. <br>
													
													Set 1
													(13 x 3 =,
													42 x 4 =,
													21 x 9 =,
													63 x 2 =,
													52 x 3 =) <br>
													Set 2
													(76 x 5 =,
													24 x 8 =,
													63 x 7 =,
													18 x 6 =,
													35 x 9 =) <br>
													Set 3
													(21 x 18 =,
													33 x 34 =,
													46 x 29 =,
													17 x 12 =,
													55 x 48 =)</p>							
												</article>

						<!-- Contact -->
							<article id="divisions">
								<h2 class="major">Division</h2>
								<p>Division is splitting something equally. For instance, let's say you have 10 raffle tickets, and you'd like to share them with 5 friends. You divide the tickets among your friends. Each friend gets an equal number of tickets.  When you divide 10 tickets among your five friends, you create 5 equal groups of 2 tickets.</p>
								<p>you saw that we divided ten tickets into two equal groups. To figure out the number of tickets that are in each group, you could write a division expression like this:
					
									10 / 5
									You could also write the expression like this:
					
									<strong><i style="color:#00ccff;">10 ÷ 5</i></strong>
								</p>
								<p>You can read either expression as ten divided by five. The division sign <strong><i style="color:#00ccff;">(/ or ÷)</i></strong> means something is being divided. This is why we always put it after the first number — there were 10 tickets, and we divided them into 5 groups.
					
									Many real-life situations can be expressed with division. For example, imagine you're placing 15 cans on 3 shelves. You can divide to make sure you put the same number of cans on each shelf. In other words, 15 cans divided by three shelves, or <strong><i style="color:#00ccff;">15 / 3.</i></strong></p>
							<p>You can use counting to solve simple division problems. For instance, let's say we have 12 seedlings. We decide to plant them in two even rows. How many plants go in each row? We could write that question like this:
					
								<strong><i style="color:#00ccff;">12 / 2</i></strong>
								
								Remember, that expression means 12 divided by two, or 12 seedlings divided into 2 rows. It's a simple problem. To solve it, you can put the seedlings into two groups and then count how many plants are in each group. The answer is 6. We know that <strong><i style="color:#00ccff;">12 / 2 = 6.</i></strong></p>
							<p>While counting works for problems that begin with small numbers, a problem that begins with a large number can take a long time to solve with counting. For this reason, most people memorize common division problems so that they can solve them quickly. If this sounds hard, don't worry. With some practice, you'll be able to quickly remember the answers.
					
								In Introduction to Multiplication, you were introduced to the times table. In that lesson, you used it to solve multiplication problems. You can also use the times table to solve division problems</p>    
							<p><strong><i style="color:#00ccff;">Try this!</i></strong></p>
						<p> Solve these division problems. If you need some help, you can use the times table. <br>
								
								
								42 ÷ 7 = <br>
								5 ÷ 1 = <br>
								33 ÷ 3 =</p>
								<p>
								In the previous pages, we divided numbers equally. For instance, at the beginning of the lesson, we divided 10 tickets equally between 5 people. Each person received 2 tickets. What happens when a number can't be equally divided?</p>
							<p>For example, consider the situation below. <br>
								<strong><i style="color:#00ccff;">10 / 3 = 3 r1</i></strong> <br>
								Each friend has three tickets, so we'll write 3. Then, we'll write our remainder. That's 1. See how we wrote it next to the lowercase letter r?</p>
								<p>So, 10 / 3 = 3 r1. We can read this quotient as three remainder one. 10 tickets divided by 3 friends means each friend gets 3 tickets with 1 ticket left over.</p>
							<p>The remainder (1) is smaller than the number we divided by (3). That will always be the case when the problem has a remainder. For example, look at each of these problems below: <br>
								21 / 5 = 4 r1            
								The remainder of 1 is smaller than 5. <br>            
								76 / 6 = 12 r4          
								The remainder of 4 is smaller than 6. <br>
								If the remainder is larger, that means the amount left over is too large. You'll need to try dividing again. For example, if you have 4 friends and 7 tickets left over, you know that each friend can get at least one more ticket.</p>
							<p>
								<strong><i style="color:#00ccff;">Practice!</i></strong> </p>
							   <p> Practice division with these problems. If you'd like, you can use the times table for help. There are 3 sets of problems with 5 problems each.
								
								Set 1
								
								(72 ÷ 9 =,
								64 ÷ 8 =,
								70 ÷ 10 =,
								55 ÷ 11 =,
								21 ÷ 3 =) <br>
								Set 2
								
								(35 ÷ 5 =,
								32 ÷ 4 =,
								72 ÷ 6 =,
								12 ÷ 2 =,
								28 ÷ 7 =) <br>
								Set 3
								
								(6 ÷ 1 =,
								81 ÷ 9 =,
								24 ÷ 3 =,
								49 ÷ 7 =,
								144 ÷ 12 =) <br>
								</p>
							<p>When you divide a number, you are splitting it equally. In Introduction to Division, you learned that division can be a way to understand real-life situations. For example, imagine a car dealership has 15 cars. The manager wants the cars parked in three equal rows.
					
								You could write the situation like this and use a times table to solve it: <strong><i style="color:#00ccff;">15/3</i></strong></p>
							<p>After the cars are divided, counting them shows that each row should have five cars. Now, let's say the car dealership has 42 cars and the manager wants to park them in three rows. The situation would look like this: <strong><i style="color:#00ccff;">42/3</i></strong></p>
								<p>This problem is harder to solve. It would take a lot of time to divide that many cars into three groups. Plus, there's no 42 in the 3's column on the times table. Fortunately, there is a way to set up the problem that makes it easy to solve one step at a time. It's called long division.</p>
								<p>To solve long division problems, you'll use three math skills you've already learned: division, multiplication, and subtraction. It's a good idea to make sure you feel comfortable with all three skills. If you think you might need more practice, take some time to review those lessons first.
					
									When solving a long division problem, the number under the division bracket is split into smaller numbers. This makes division easier. Plus, you can use a familiar tool, like a times table, to help.</p>
							<p><strong><i style="color:#00ccff;">Try this!</i></strong> </p>
							<p>Solve these long division problems. Then, check your answer by typing it in the box. <br>
								
								63 ÷ 3 = <br>
								48 ÷ 4 = <br>
								214 ÷ 2 =</p>
							<p>In Introduction to Division, you learned that some numbers can't be equally divided. When that happens, there will be an amount left over. This is called a remainder. For instance, let's say you want to share 8 treats equally among your 3 dogs. The answer is that each dog would get two treats with a remainder of two.
					
								The remainder is written as part of the quotient: 8 / 3 = 2 r2. Long division problems can have remainders too.</p>
							<p><strong><i style="color:#00ccff;">Try this!</i></strong></p> 
							<p> Solve these division problems with remainders. Then, check your answer by typing it into the boxes. <br>
								
								62 ÷ 5 = |r= <br>
								27 ÷ 2 = |r= <br>
								71 ÷ 6 = |r=
								</p>  
							<p>On the last page, you learned how to find the remainder for a long division problem that can't be solved evenly. Remainders can be useful if you need to know how much is left over when you divide something, but they might not be very useful in every situation. For example, what if you wanted to divide a 9-foot-long board into 4 equal pieces? That problem could look like this:
					
								<strong><i style="color:#00ccff;">9 / 4 = 2 r1</i></strong> </p>  
							<p>In other words, when you divide a board that's nine feet long into four pieces, each piece will be two feet long. There will be one foot left over.
					
								What if you don't want to waste any wood? In that case, you can continue to divide until there is no longer a remainder. That way, you'd have four equal pieces of wood, with none left over. That problem would look like this:
								
								<strong><i style="color:#00ccff;">9 / 4 = 2.25</i></strong> </p>
							<p>The answer, 2.25, is a decimal number. You can tell, because it includes a symbol called a decimal point (.). The number to the left of the decimal point, 2, is the whole number. The rest of the answer, .25, shows the part of the number that didn't divide evenly.</p>
								<p>Sometimes, you may notice that a decimal can start to repeat as you continue to add zeros under the division bracket. This is known as a repeating decimal. When this happens, you can place a horizontal line over the digit that repeats. Look at the image below. A horizontal line has been placed over the repeating digit.</p>
								<div><img src="images/repeat.png" alt="repeat"></div> <br>
							<p>Another way to handle a repeating decimal is to round it. Rounding creates a new number that has a value close to the original number.
					
								When rounding a repeating decimal, you'll reduce the number of digits that come after the decimal point. First, decide which digit you are rounding to. Then look at the digit to the right of it. If the digit is 5 or more, increase the rounded digit by 1. If it is 4 or less, the rounded digit stays the same. The other digits after the rounded digit are not written.
								
								Look at the image below. In this case, each of these repeating decimals has been rounded to the second digit after the decimal point.</p>
								<div><img src="images/repeat2.png" alt="repeat"></div> <br>
							<p>
								<strong><i style="color:#00ccff;">Practice!</i></strong> </p>
								<p>Practice division by solving these problems. There are 3 sets of problems. Each set has 5 problems. <br>
								
								Set 1
								(104 ÷ 8 =,
								99 ÷ 3 =,
								205 ÷ 5 =,
								618 ÷ 6 =,
								143 ÷ 11 =) <br>
								Set 2
								(37 ÷ 3 = |r=,
								71 ÷ 7 = |r=,
								19 ÷ 8 = |r=,
								29 ÷ 2 = |r=,
								92 ÷ 6 = |r=) <br>
								Set 3
								(525 ÷ 4 =,
								62 ÷ 5 =,
								137 ÷ 2 =,
								217 ÷ 4 =)
								</p>
							</article>
							<article id="algebra">
								<h2 class="major">algebra</h2>
								<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
								<p>This <strong><i style="color:#00ccff;">algebra</i></strong> tutorial covers all the basic concepts. Terms related to basic algebra skills are mentioned below.</p>
								<ul>
									<li>Exponent</li>
									<li>Expression</li>
									<li>Polynomial (Monomial, binomial and trinomial)</li>
									<li>Like terms and Unlike terms</li>
									<li>Constants</li>
								</ul>
								<p>An equation is a statement which implies two same identities separated by <strong><i style="color:#00ccff;">“=”</i></strong> sign. Whereas an expression is a group of different terms separated by <strong><i style="color:#00ccff;">‘+’</i></strong> or <strong><i style="color:#00ccff;">‘-‘</i></strong> sign. 
									Like terms are those terms whose variables and their exponents are same.</p>
						   <p><strong><i style="color:#00ccff;">Basic Algebra Rules</i></strong></p>
						   <p>The basic algebra rules are mentioned below:</p>
						   <ul>
							<li>The Symmetry rule</li>
							<li>The commutative rules</li>
							<li>The inverse of adding</li>
							<li>Two rules for equation</li>
							<li>Basic Algebra Operations</li>
						</ul>
						<p>The general <strong><i style="color:#00ccff;">arithmetic</i></strong> operations performed in the case of algebra are:</p>
						<ul>
							<li>Addition: x + y</li>
							<li>Subtraction: x – y</li>
							<li>Multiplication: xy</li>
							<li>Division: x/y or x ÷ y</li>
							<li>where x and y are the variables.</li>
						</ul>
						<p>
							The order of these operations will follow the <strong><i style="color:#00ccff;">BODMAS</i></strong> rule, which means the terms inside the brackets are considered first. Then, roots and exponents are operated on second priority. Solve all the division and multiplication operations and later addition and subtraction.</p>     
							<p><strong><i style="color:#00ccff;">Basic Algebra Formula</i></strong></p>
							<p>The general formulas used in algebra to solve algebraic equations and find the values of unknown variables are given here:</p>
							<ul>
							   <li> a2 – b2 = (a – b)(a + b)</li>
							   <li>(a+b)2 = a2 + 2ab + b2</li>
							   <li>a2 + b2 = (a – b)2 + 2ab</li>
							   <li>(a – b)2 = a2 – 2ab + b2</li>
							   <li>(a + b + c)2 = a2 + b2 + c2 + 2ab + 2ac + 2bc</li>
							   <li>(a – b – c)2 = a2 + b2 + c2 – 2ab – 2ac + 2bc</li>
							   <li> (a + b)3 = a3 + 3a2b + 3ab2 + b3</li>
							   <li>(a – b)3 = a3 – 3a2b + 3ab2 – b3</li>
							</ul>
							<p>Some of the basic algebra worksheets are given below containing basic math algebra questions.</p>
							<p><strong><i style="color:#00ccff;">Basic Algebra Examples</i></strong></p>
							<p>Q 1: Find y, when, y + 15 = 30 <br>
					
								Solution: y = 30 – 15 = y = 15</p>
							<p>Q 2 : Find x, when, 9x = 63 <br>
					
								Ans. x = 63/9 =
								
								x = 7</p>
							<p>
								
					Q.3: If x/7 = 21, then find x. <br>
					
					Solution: Given x/7 = 21
					
					or x = 21 x 7 =
					
					x = 147
							</p>
							<p><strong><i style="color:#00ccff;">Practice Problems</i></strong></p>
							<p> Solve x+12 = 6 <br>
								Find the value of z, if 23z + 3 = 10 <br>
								Solve 2y – 8 = 5y</p>							
					</article>

					</div>
					<footer id="footer">
						<p class="copyright">&copy; Design: Team MB.</p>
					</footer>

			</div>


		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="{% static 'main.js' %}"></script>

	</body>
</html>
