{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>MATH BUSTER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'main.css' %}" />
	</head>
	<style>
		#bg:after{
			background-image: url("{% static 'images/bgg.jpg' %}") !important;
		}
	</style>
	<body class="is-preload">

		
			<div id="wrapper">

				
					<header id="header">
						<nav>
							<ul>
								<li><a href="/">Go Home</a></li>
							</ul>
						</nav>
						<div class="content">
							<div class="inner">
								<h1>Topics</h1>

							</div>
						</div>
						<nav>
							<ul>
								<li><a href="thebasic">The Basic</a></li>
								<li><a href="themoderate">The Moderate</a></li>
								<li><a href="theadvanced">The Advanced</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Design: Team MB.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="{% static 'main.js' %}"></script>

	</body>
</html>
